body {
  background-color: #4d4861;
}
.card {
  color: #edcb96;
  background-color: #605770;
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px;
}
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
a {
  color: black;
}
button {
  background-color: #f7c4a5;
}
